//colors
$color-gray: #828282;
$color-silverchalice: #9E9E9E;
$color-tundora: #404040;
$color-pattensblue: #D9E8FF;
$color-mustard: #FED74B;
$color-buddhagold: #CBA500;
$color-black: #000;
$color-malibu: #6BA6FF;
$color-white: #fff;
$color-mineshaft: #3E3E3E;
$color-shaft: #343434;
$color-cerulean: #099CE8;
$color-brightsun: #FFD83C;
$color-perano: #9DBEF1;